*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

main{
    height: 100vh;
    width: 100%;
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
}

main section{
    height: 80%;
    width: 320px;
    /* background-color: teal; */
    background: linear-gradient(to bottom right, skyblue, green);
    border-radius: 10px;
    padding: 3%;
}

main section .search-con{
    display: flex;
    /* background-color: orange;*/
    justify-content: space-between;
}

input{
    width: 80%;
    height: 3em;
    border-radius: 8px;
    border: solid 1px green;
    padding-left: 3%;
    outline: none;
}

button{
    height: 3em;
    width: 15%;
    border-radius: 20px;
    border: none;
}

#cityName{
    text-align: center;
    font-size: 200%;
    /* background-color: orangered; */
    margin-top: 5%;
    color: whitesmoke;
}

section .temp-con{
    height: 10em;
    width: 100%;
    /* background-color: yellowgreen; */
}

.temp-con .temp{
    height: 80%;
    width: 100%;
    /* background-color: blueviolet; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 500%;
    font-weight: bold;
    color: whitesmoke;
}

.temp-con p{
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: whitesmoke;
}

section .details{
    height: 45%;
    width: 100%;
    /* background-color: coral; */
    margin-top: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.details div{
    height: 30%;
    width: 45%;
    /* background-color: grey; */
    border: solid 1px whitesmoke;
    text-align: center;
    border-radius: 8px;
}

.details div span{
    font-size: 30px;
    color: whitesmoke;
}

.details div p{
    font-weight: bold;
    color: whitesmoke;
}



